# Source
src
examples
coverage
.vscode
.idea

# Tests
*.test.ts
*.spec.ts
vitest.config.*
jest.config.*

# Tooling
tsconfig.json
tsconfig.*.json
eslint.config.*
.prettierrc*
.editorconfig

# Environment
.env
.env.*

# VCS
.git
.github
.gitignore

# Package manager
pnpm-lock.yaml
yarn.lock
package-lock.json

# Misc
*.log
.DS_Store
