# Source
src
examples
playground
coverage
.vscode
.idea

# Tests
*.test.ts
*.spec.ts
*.test.d.ts
*.test.d.ts.map
*.spec.d.ts
*.spec.d.ts.map
vitest.config.*
jest.config.*

# Build internals
dist/types

# Tooling
tsconfig.json
tsconfig.*.json
eslint.config.*
.prettierrc*
.editorconfig
rollup.config.*

# Environment
.env
.env.*

# VCS
.git
.github
.gitignore

# Package manager
pnpm-lock.yaml
yarn.lock
package-lock.json

# Misc
*.log
.DS_Store
